<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Nueva cuenta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Nueva cuenta </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup] = "signUpForm">

          <h5> Nombre de usuario </h5>
          <ion-input 
          fill="outline" 
          name="username"
          errorText="Se neceita un nombre" 
          type="text" 
          formControlName="username"> </ion-input>
          
          <h5> Correo electrónico </h5>
          <ion-input 
          fill="outline" 
          name="email" 
          type="text" 
          errorText="Correo inválido"
          formControlName="email"> </ion-input>     
          
          <h5> Contraseña </h5>
          <ion-input fill="outline" 
          name="password" 
          type="password"
          formControlName="password"> </ion-input>

          <h5> Confirmar contraseña </h5>
          <ion-input fill="outline"  
          type="password" 
          formControlName="confirmPassword"> </ion-input>

      <ion-button (click)="signUp()" [disabled]="!signUpForm.valid" > Registrarse </ion-button>
    </form> 


    <ion-button expand="block" (click)="signUpWithGoogle()"> <ion-icon  slot="start" name="logo-google" fill="outline"> </ion-icon> Registrate con google</ion-button>
    <div id="link-text">
      <ion-text color="medium">
        <span> Ya tienes una cuenta? <a routerLink="/log-in"> Inicia sesión </a> </span> 
      </ion-text>
    </div>

    
  </div>
</ion-content>
