<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>

  </div>

  <div>
    <ion-input placeholder="Ingresa la receta: " (ionChange)="getRecipes()" [(ngModel)]="query"></ion-input>

    <ion-list *ngIf="recipes && recipes.length">
      <ion-card *ngFor="let recipe of recipes">
        <img [src]="recipe.image" alt="Recipe Image" class="recipeImage">
        <ion-card-header>
          <ion-card-title>
            <ion-label>
              <h2>{{ recipe.title }}</h2>
            </ion-label>
          </ion-card-title>      
        </ion-card-header>

        <ion-button expand="block" fill="clear">Ver más detalles +</ion-button>
        <!--a href="">Ver más detalles +</a-->
      </ion-card>
    </ion-list>
  </div>

</ion-content>
