<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>

  </div>

  <div>
    <ion-input placeholder="Ingresa la receta: " (ionChange)="getRecipes()" [(ngModel)]="query"></ion-input>

    <ion-list *ngIf="recipes && recipes.length">
      <ion-card *ngFor="let recipe of recipes">
        <img [src]="recipe.image" alt="Recipe Image" class="recipeImage">
        <ion-button class="favButton" fill="outline" *ngIf="!favs.includes(recipe.id)" (click)="addFav(recipe.id)"><ion-icon name="heart-outline"></ion-icon></ion-button>
        <ion-button class="favButton" fill="solid" *ngIf="favs.includes(recipe.id)" (click)="delFav(recipe.id)"><ion-icon name="heart"></ion-icon></ion-button>
        <ion-card-header>
          <ion-card-title>
            <ion-label >
              <h2>{{ recipe.title }}</h2>
            </ion-label>
          </ion-card-title>      
        </ion-card-header>

        <!--ion-button expand="block" fill="clear" [routerLink]='[/recipe-details, id]'>Ver más detalles +</ion-button-->
        <ion-button expand="block" fill="clear" [routerLink]="['/details', recipe]">Ver más detalles +</ion-button>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
