
* { 
    --background: rgba(250, 218, 77, 0.452);
}

ion-card{
    max-width: 350px;
    max-height: 310px;
    float: left;
}

.recipeImage{
    width: 100%;
    max-height: 230px;
}

ion-input{
    border-radius: 10px;
    border-style: solid;
    width: 97%; //77
    margin-left: 1%; //21
}

ion-button{
    margin-top: -10px;
}

.favButton{
    float: right;
    margin-right: 5px;
    margin-top: -227px;
    z-index: 5;
}