<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>log-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">log-in</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup] = "logInForm">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label position="floating" > Correo Electrónico </ion-label>
        <ion-input type="text" formControlName="email"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input type="password" formControlName="password"> </ion-input>
      </ion-item> 
    </ion-list>

    <ion-button (click)="logIn()" [disabled]="!logInForm.valid" > Iniciar sesión </ion-button>
     
  </form>

  <ion-button (click)="logInWithGoogle()"> <ion-icon  slot="start" name="logo-google" fill="outline" (click)="logInWithGoogle()"> </ion-icon> Inicia sesión con google</ion-button>

  <span> Todavía no tienes una cuenta? <a routerLink="/sign-up"> Registrarse </a></span>
</ion-content>
