<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()" fill="outline"> <ion-icon slot="start" name="log-out"></ion-icon> Cerrar sesión </ion-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-alert
  trigger="updatePassword"
  header="AVISO"
  message="¿Desea continuar y cambiar la contraseña?"
  [buttons]="alertButtons"
></ion-alert>

<ion-content [fullscreen]="true">

 <div id="container">


    <div id="info-container" class="ion-padding">
      <div style="width: 20%; height: auto;">
        <img id="Image" [src]=currentUserInfo.photoURL>
      </div>
        <h1>
          {{currentUserInfo.username}}
        </h1>
        <h6>
          {{currentUserInfo.email}}
        </h6>
    </div>

    <div id="options-container" class="ion-padding">
      <form [formGroup]="UserNameForm">
        
          
          <h1> Cambiar nombre de usuario </h1>

            <ion-input formControlName="username" fill="outline" placeholder="Nombre de Usuario">  </ion-input>
            <ion-button type="submit" [disabled]="!UserNameForm.valid"> Aceptar </ion-button>
          
        
      </form>

      <form [formGroup]="PasswordForm" (ngSubmit)="updatePassword()">
      
        
        <h1> Cambiar Constraseña </h1>

          <ion-input type="password" formControlName="password"  fill="outline" placeholder="Nueva Contraseña">  </ion-input>
          <ion-input type="password" formControlName="confirmPassword"  fill="outline" placeholder="Confirmar Contraseña">  </ion-input>
          <ion-button id="updatePassword" [disabled]="!PasswordForm.valid"> Aceptar </ion-button>
        
      
    </form>
  </div>
 </div>




</ion-content>