#info-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
}

#container{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 60px;
}

#options-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 70%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Image{
    width: 200px;
    height: 150px;
    height: auto;
}

h1{
    margin-bottom: 20px;
}

ion-input{
    width: 50%;
    margin-top: 20px;
}

div ion-button{
    margin-top: 40px;
    margin-bottom: 50px;
}

#info-container ion-button{
    margin-top: 30px;
    margin-bottom: 0px;
}


.avatarImage{
    width: 100%;
    max-height: 230px;
}

ion-card{
    width: 250px;
    height: 150px;
    float: left;
}


@media (max-width: 1000px){
    #container{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    #info-container{
        width: 100%;
    }

    
    #options-container{
        width: 100%;
    }

    ion-input{
        width: 70%;
        margin-top: 20px;
    }
}