<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{recipe.title}}</ion-title>
    <ion-button [routerLink]="['/tabs/tab2']"><ion-icon name="arrow-back-outline"></ion-icon>Ver más recetas</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="section1"> <!--IMAGE AND DESCRIPTION SECTION-->
    <img [src]="recipe.image" alt="Recipe Image" class="recipeImage">
    <section id="description">
      <ion-label>{{recipe.summary}}</ion-label>
    </section>
  </div>

  <div class="section2">
    <div class="ingredients">
      <ion-label color="tertiary" class="ion-text-center" style="display: block; margin-bottom: 10px; margin-top: 10px;"><b>-- Ingredients --</b></ion-label>
      <hr>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size="12" *ngFor="let ingredient of ingredients" class="ion-text-center">
            <ion-label>{{ingredient}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="info-container">
      <div class="info">
        <div class="icon">
          <ion-icon name="person-add-outline" size="large"></ion-icon>
        </div>
        <ion-label>Number of servings:<br><i>{{recipe.servings}}</i></ion-label>
      </div>
      <div class="info">
        <div class="icon">
          <ion-icon name="restaurant-outline" size="large"></ion-icon>
        </div>
        <ion-label>Price per serving: <br> $<i>{{recipe.pricePerServing /100 | number : '1.0-2'}}</i></ion-label>
      </div>
      <div class="info">
        <div class="icon">
          <ion-icon name="timer-outline" size="large"></ion-icon>
        </div>
        <ion-label>Ready in: <br><i>{{recipe.readyInMinutes}}</i> minutes</ion-label>
      </div>
    </div>

    <div class="instructions">
      <ion-label>INSTRUCTIONS</ion-label>
      <!-- Check if instructions contain HTML tags -->
      <ng-container *ngIf="recipe.instructions && recipe.instructions.includes('<')">
        <!-- If instructions contain HTML tags, assume each <li> is a separate step -->
        <ol [innerHTML]="recipe.instructions"></ol>
      </ng-container>
      <ng-container *ngIf="recipe.instructions && !recipe.instructions.includes('<')">
        <!-- If instructions don't contain HTML tags, split by newline character -->
        <ol>
          <ng-container *ngFor="let step of recipe.instructions.split('\n'); let i = index">
            <li>{{ step }}</li>
          </ng-container>
        </ol>
      </ng-container>
    </div>
  </div>
 
</ion-content>
