<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{recipe.title}}</ion-title>
    <ion-button [routerLink]="['/tabs/tab2']"><ion-icon name="arrow-back-outline"></ion-icon>Ver más recetas</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="section1"> <!--IMAGE AND DESCRIPTION SECTION-->
    <img [src]="recipe.image" alt="Recipe Image" class="recipeImage">
    <section id="description">
      <ion-label >{{recipe.summary}}</ion-label>
    </section>
  </div>

  <div class="section2">
    <div class="ingredients">
      <ion-label color="tertiary"><b>-- Ingredients --</b></ion-label>
      <ion-list *ngFor="let ingredient of ingredients" lines="none">
        <ion-item>
          <ion-label>{{ingredient}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  
</ion-content>
