<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()" fill="outline"> <ion-icon slot="start" name="log-out"></ion-icon> Cerrar sesión </ion-button>
    </ion-buttons>
    <ion-title>
      <i>Favorites list</i>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button *ngIf="!favs.length" [routerLink]="['/tabs/tab2']" expand="block" fill="outline" class="noFavs">
    <ion-label>Aún no tienes recetas favoritas<br>Descubre nuevas recetas!</ion-label>
  </ion-button>

  <ion-grid *ngIf="favs && favs.length" class="favorite-list">
    <ion-row>
      <ion-col *ngFor="let recipe of recipes" [routerLink]="['/recipe-details', recipe.id]" class="recipe-card" size="12" sizeMm="6" sizeLg="3">
        <img [src]="recipe.image" class="recipe-image">

        <ion-label>{{recipe.title}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--ion-list *ngIf="favs && favs.length" class="favorite-list">
    <ion-item *ngFor="let recipe of recipes" [routerLink]="['/recipe-details', recipe.id]" class="recipe-card"> 
      <img [src]="recipe.image" class="recipe-image">

      <ion-label>{{recipe.title}}</ion-label>
    </ion-item>
  </ion-list-->

</ion-content>
