<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()" fill="outline"> <ion-icon slot="start" name="log-out"></ion-icon> Cerrar sesión </ion-button>
    </ion-buttons>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button *ngIf="!favs.length" [routerLink]="['/tabs/tab2']">
    <ion-label>Aún no tienes recetas favoritas<br>Descubre nuevas recetas!</ion-label>
  </ion-button>

  <ion-list *ngIf="favs && favs.length">
    <ion-item *ngFor="let recipe of recipes"> 
      <img [src]="recipe.image">

      <ion-label>{{recipe.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
